<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @session.date %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @session.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @session.end_time %>
</p>

<p>
  <strong>Payment date:</strong>
  <%= @session.payment_date %>
</p>

<p>
  <strong>Total cost:</strong>
  <%= @session.total_cost %>
</p>

<%= link_to 'Edit', edit_therapist_session_path(id: @session.therapist_id) %> |
<%= link_to 'Back', therapist_sessions_path %>
