<%= form_with(model: @patient, local: true) do |f| %>

<h3>Medical condition</h3>
  <%= f.collection_check_boxes(:specialties, Specialty.all.limit(4).offset(2), :id, :name, {checked: @patient.specialty_ids.map(&:to_param)} ) do |f| %>
    <%= f.check_box class: "sr-only" %>
    <%= f.label class: "btn btn-sm btn-outline-primary btn-blue-toggle" %>
  <% end %>
  <h3>Speech</h3>
  <%= f.collection_check_boxes(:specialties, Specialty.all.limit(4).offset(6), :id, :name, {checked: @patient.specialty_ids.map(&:to_param)} ) do |f| %>
    <%= f.check_box class: "sr-only" %>
    <%= f.label class: "btn btn-sm btn-outline-primary btn-blue-toggle" %>
  <% end %>
  <h3>Motor & Sensory</h3>
  <%= f.collection_check_boxes(:specialties, Specialty.all.limit(3).offset(10), :id, :name, {checked: @patient.specialty_ids.map(&:to_param)} ) do |f| %>
    <%= f.check_box class: "sr-only" %>
    <%= f.label class: "btn btn-sm btn-outline-primary btn-blue-toggle" %>
  <% end %>
  <h3>Communication & Behaviour</h3>
  <%= f.collection_check_boxes(:specialties, Specialty.all.limit(3).offset(13), :id, :name, {checked: @patient.specialty_ids.map(&:to_param)} ) do |f| %>
    <%= f.check_box class: "sr-only" %>
    <%= f.label class: "btn btn-sm btn-outline-primary btn-blue-toggle" %>
  <% end %>
    <div class="form-group">
        <%= f.submit "Save", class: "btn btn-success form-control" %>
    </div>
<% end %>