<%= form_with(model: therapist, local: true) do |form| %>

  <div class="form-group">
    <%= form.label :profile_image, class: "sr-only" %>
    <div class="avatar-wrapper rounded-circle">
      <%= image_tag @therapist.profile_image.url, class:"profile-pic" %>
      <div class="upload-button">
      </div>
      <%= form.file_field :profile_image, class: "file-upload" %>
    </div>
    <div class="d-flex justify-content-center height-0">
      <span id="plus-icon" class="text-success border-success"></span>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :about_me  %>
    <p><%= form.text_area :about_me, class: "form-control", rows: 5 %></p>
  </div>

  <%= render './shared/specialty_checkboxes', form: form, user: therapist, show_ages: true %>

  <div class="form-group">
    <%= form.submit "Update", class: "btn btn-success" %>
  </div>
<% end %>
