<%= form_with(model: therapist, local: true) do |form| %>
  <%= form.label :about_me %>
  <%= form.text_area :about_me %>
  <%= form.collection_check_boxes(:specialties, Specialty.all, :id, :name ) do |f| %>
    <div>
      <%= f.check_box class: "sr-only" %>
      <%# p f.check_box %>
      <%= f.label class: "btn btn-sm btn-outline-primary btn-blue-toggle" %>
    </div>
  <%#= form.fields_for :specialties do |f| %>
    <%# h3>Age Groups</h3> %>
    <%#= f.label :adults, class: "btn btn-sm btn-outline-primary btn-blue-toggle" %>
    <%#= f.check_box :adults, class: "sr-only" %>
    <%#= f.label :children, class: "btn btn-sm btn-outline-primary btn-blue-toggle" %>
    <%#= f.check_box :children, class: "sr-only" %>
    <%# <h3>Disorder</h3> %>
    <%#= f.label :development_delays, class: "btn btn-sm btn-outline-primary btn-blue-toggle" %>
    <%#= f.check_box :development_delays, class: "sr-only" %>
    <%#= f.label :cerebral_palsy, class: "btn btn-sm btn-outline-primary btn-blue-toggle" %>
    <%#= f.check_box :cerebral_palsy, class: "sr-only" %>
    <%#= f.label :autism, class: "btn btn-sm btn-outline-primary btn-blue-toggle" %>
    <%#= f.check_box :autism, class: "sr-only" %>
    <%#= f.label :down_syndrome, class: "btn btn-sm btn-outline-primary btn-blue-toggle" %>
    <%#= f.check_box :down_syndrome, class: "sr-only" %>
    <%# <h3>Speech</h3> %>
    <%#= f.label :speech, class: "btn btn-sm btn-outline-primary btn-blue-toggle" %>
    <%#= f.check_box :speech, class: "sr-only" %>
    <%#= f.label :language_development, class: "btn btn-sm btn-outline-primary btn-blue-toggle" %>
    <%#= f.check_box :language_development, class: "sr-only" %>
    <%#= f.label :voice, class: "btn btn-sm btn-outline-primary btn-blue-toggle" %>
    <%#= f.check_box :voice, class: "sr-only" %>
    <%#= f.label :stuttering, class: "btn btn-sm btn-outline-primary btn-blue-toggle" %>
    <%#= f.check_box :stuttering, class: "sr-only" %>
    <%# <h3>Motor & Sensory</h3> %>
    <%#= f.label :fine_motor_skills, class: "btn btn-sm btn-outline-primary btn-blue-toggle" %>
    <%#= f.check_box :fine_motor_skills, class: "sr-only" %>
    <%#= f.label :feeding_and_swallowing, class: "btn btn-sm btn-outline-primary btn-blue-toggle" %>
    <%#= f.check_box :feeding_and_swallowing, class: "sr-only" %>
    <%#= f.label :sensory_processing, class: "btn btn-sm btn-outline-primary btn-blue-toggle" %>
    <%#= f.check_box :sensory_processing, class: "sr-only" %>
    <%# <h3>Communication & Behaviour</h3> %>
    <%#= f.label :literacy, class: "btn btn-sm btn-outline-primary btn-blue-toggle" %>
    <%#= f.check_box :literacy, class: "sr-only" %>
    <%#= f.label :behaviour_support, class: "btn btn-sm btn-outline-primary btn-blue-toggle" %>
    <%#= f.check_box :behaviour_support, class: "sr-only" %>
    <%#= f.label :aac_and_multimodal_communication, class: "btn btn-sm btn-outline-primary btn-blue-toggle" %>
    <%#= f.check_box :aac_and_multimodal_communication, class: "sr-only" %>
  <% end %>
    <div>
      <%= form.submit :submit %>
    </div>
<% end %>