<h1><%= @therapist.user.first_name %> <%= @therapist.user.last_name %></h1>

<%= image_tag @therapist.profile_image_url %>

<h3>Specialties</h3>

  <% @therapist.specialties.each do |specialty| %>
    <div class= "btn btn-sm btn-primary">
      <%= specialty.name %>
    </div>
  <% end %>

<h3>About Me</h3>
<%=  @therapist.about_me %>