<%= form_with(model: appointment, url: therapist_appointments_path(therapist), local: true) do |form| %>
  <% if appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
      <% appointment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.date_field :date, hidden: true %>
  </div>

  <div class="field">
    <%= form.time_field :start_time, hidden: true %>
  </div>

  <div class="field">
    <%= form.time_field :end_time, hidden: true %>
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
