<h1>Appointments</h1>

<table>
  <thead>
    <tr>
      <th>Patient</th>
      <th>Therapist</th>
      <th>Date</th>
      <th>Start time</th>
      <th>End time</th>
      <th>Payment date</th>
      <th>Total cost</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @appointments.each do |appointment| %>
      <tr>
        <td><%= appointment.patient %></td>
        <td><%= appointment.therapist %></td>
        <td><%= appointment.date %></td>
        <td><%= appointment.start_time %></td>
        <td><%= appointment.end_time %></td>
        <td><%= appointment.payment_date %></td>
        <td><%= appointment.total_cost %></td>
        <td><%= link_to 'Show', appointment %></td>
        <td><%= link_to 'Edit', edit_appointment_path(appointment) %></td>
        <td><%= link_to 'Destroy', appointment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Session', new_appointment_path %>
