<p>
  <strong>Date:</strong>
  <%= @appointment.date %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @appointment.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @appointment.end_time %>
</p>

<p>
  <strong>Payment date:</strong>
  <%= @appointment.payment_date %>
</p>

<p>
  <strong>Total cost:</strong>
  <%= @appointment.total_cost %>
</p>

<%= link_to 'Edit', edit_appointment_path(@appointment) %> |
<%= link_to 'Back', appointments_path %>
