<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="topbar-left">
      <%= link_to root_path, class: "navbar-brand" do%>
        <%= image_tag 'logo.png' %>
      <% end %>
        <%# <img alt="Brand" src="logo.png"> %>
      </a>
    </div>
    <div class="topbar-right">
      <% if user_signed_in? %>
        <a href="#">Dashboard</a>
        <a href="#">Find a therapist</a>
        <%= link_to "Logout", destroy_user_session_path, method: :delete %>
        <%= link_to root_path, class: "navbar-brand" do %>
          <%= image_tag 'tommy.jpg', class: "rounded-circle" %>
        <% end %>
      <% else %>
        <a href="#">Find a therapist</a>
        <a href="#">Clinicians sign up</a>
        <a href="#">About us</a>
        <%= link_to "Login", new_user_session_path %>
        <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-default navbar-btn" %>
      <% end %>
    </div>
  </div>
</nav>


<%#= form_with url: search_index_path, method: :get, local: true do |f| %>
  <%#= f.text_field :search %>
  <%#= f.select :specialty, [["All", "*"], ["Specialty1", "specialty1"], ["Specialty2", "specialty2"], ["Specialty3", "specialty3"], ["Specialty4", "specialty4"], ["Specialty5", "specialty5"], ]%>
  <%#= f.submit  :search , class:"submit" %>
<%# end %>