<!DOCTYPE html>
<html>
  <head>
    <title>Umbo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Bootstrap 4 -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/nav' %>
    <% if notice && !notice.empty? %>
      <div class="alert alert-success alert-dismissable text-center mb-0">
        <span><%= notice %></span>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <% end %>
    <% if alert && !alert.empty? %>
      <div class="alert alert-danger alert-dismissable text-center mb-0">
        <span><%= alert %></span>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <% end %>

      <%= yield %>


    <!-- Footer -->
<footer class="page-footer font-small" style="background-color:#343a40!important">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3 text-muted">Copyright © 2018
    <a href="www.umbo.com" class="text-muted"> Umbo.com.au</a>
    <br>
    <span class="text-light">0415 270 823 | <a href="mailto:hello@umbo.com.au?Subject=Hello" target="_top">hello@umbo.com.au</a></span>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->

    <!-- Bootstrap 4 -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" data-turbolinks-eval="false" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>
